<p>Olá, <%= @resource.email %>!</p>

<p>Foi enviado um pedido de recuperação de password para este endereço de email.</p>

<p><%= link_to 'Mudar password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foste tu, ignora este email.</p>
<p>Caso não acedas ao link acima, tua password não vai ser alterada.</p>
