<div id="wrap">

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
				<div class="titulo">Quem somos</div>
			</div>
		</div>
	</div>

	<div id="imagem-sobre">
		<div class="container dt">
			<div class="tc">
				<p class="sub">
					The dish you wish é uma plataforma desenvolvida a pensar em quem  tem diabetes.
				</p>
			</div>
		</div>
	</div>

	<div id="second">
		<div class="conteudo-pagina">
			<div class="container justify">
				<div class="row">
					<div class="col-xs-12">
						<p>
							Sabemos que nem sempre é fácil resistir aos doces e nem sempre temos ideias para variar a alimentação, sobretudo quando existem restrições alimentares que se repercutem directamente na nossa saúde, por isso, e tendo em conta todas as preocupações dos nossos utilizadores, organizámos métodos simples, rápidos e eficazes de conseguir ter uma alimentação saudável sem abdicar do sabor que tanto gosta.
						</p>
						<p>
							 As nossas ementas são elaboradas tendo em conta todas as regras que uma pessoa com diabetes deve respeitar de forma a controlar a doença e viver uma vida saudável e conjugamo-las com uma imensa flexibilidade para as poder adaptar aos gostos pessoais de cada um.
						</p>
						<p>
							 Não gosta de cenouras, leguminosas ou é alérgico a algum tipo alimento? Não há problema! Com esta plataforma pode escolher que ingredientes nunca aparecerão nas receitas e dar-lhe-emos outras opções igualmente saudáveis e saborosas para si e para a sua família.
						</p>
						<p>
							Para além da personalização das receitas que constam na sua ementa semanal, “The dish you wish” permite-lhe adaptá-la ao seu dia-a-dia.
						</p>

						<p>
							Assim pode programar as refeições dos dias da semana, do número de refeições e das porções que pretende e saberá sempre em que dias da semana terá de cozinhar, quantas refeições faz em casa e para quantas pessoas terá de confeccionar os pratos.
						</p>
						<p>
							Sem tempo nem ideias para preencher a sua ementa? Não queremos que desespere! Pode sempre recorrer à nossa função random e nós fazemos o trabalho todo por si! E caso alguma coisa não esteja de acordo com o que deseja permitimos-lhe apagar ou gerar receitas e até mesmo voltar a criar uma ementa nova.
						</p>
						<p>
							E como sabemos que muitas vezes o que comemos nem sempre parte de uma escolha pessoal mas sim de um consenso entre os diferentes gostos da família aconselhamos a partilha das ementas ou das receitas via email ou  facebook  facilitando a escolha final das receitas que serão confeccionadas.
						</p>
						<p>
							“The dish you wish” resolve os seus problemas no mundo culinário. Organiza, procura e personaliza as receitas de que mais gosta, tudo no mesmo sítio e assegurando que faz uma alimentação variada e, acima de tudo, saudável.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>