<div id="wrap">

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
				<div class="titulo">Quem somos</div>
			</div>
		</div>
	</div>

	<div id="imagem-sobre">
		<div class="container dt">
			<div class="tc">
				<p class="sub">
					The dish you wish pensa em ti. 
				</p>
			</div>
		</div>
	</div>

	<div id="second">
		<div class="conteudo-pagina">
			<div class="container justify">
				<div class="row">
					<div class="col-xs-12">
						<p>
							Sabemos que nem sempre é fácil resistir à comida menos saudável nem sempre temos ideias para variar a alimentação, sobretudo quando o tempo é pouco e os gostos são variados, por isso, e tendo em conta todas as preocupações dos nossos utilizadores, organizámos métodos simples, rápidos e eficazes de conseguir ter uma alimentação saudável sem abdicar do sabor.
						</p>
						<p>
							As nossas receitas são cuidadosamente elaboradas e testadas para garantir uma alimentação saudável e variada e, a partir da nossa ferramenta de criação de ementas podemos conjugá-las com imensa flexibilidade para as poderes adaptar aos gostos pessoais.
						</p>
						<p>
							Não gostas de cenouras, leguminosas ou és alérgico a algum tipo alimento? Não há problema! Com esta plataforma podes escolher que ingredientes nunca aparecerão nas receitas e damos-te outras opções igualmente saudáveis e saborosas para ti e para a tua família. 
						</p>
						<p>
							“The dish you wish” também te permite adaptar as ementas ao teu dia-a-dia. 
						</p>

						<p>
							Podes programar o número de refeições refeições para cada dia da semana, escolher cada receitas e as respectivas porções e assim sabes sempre em que dias da semana tens de cozinhar, quantas refeições fazes em casa e para quantas pessoas tens de cozinhar.
						</p>
						<p>
							Sem tempo nem ideias para preencher a sua ementa? Não queremos que desesperes! Podes sempre recorrer à nossa função “random” e nós fazemos o trabalho todo por ti!
						</p>
						<p>
							E caso alguma coisa não esteja de acordo com o que desejas podes sempre apagar, trocar ou renovar a tua ementa.
						</p>
						<p>
							“The dish you wish” organiza, procura e personaliza as receitas de que mais gostas, tudo no mesmo sítio e assegurando que fazes uma alimentação variada e, acima de tudo, saudável.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>